/* general styles */
body{
    max-width:1100px ;
    margin:0 auto ;
}
ul{
    margin: 0;
}
li{
    display: block;
    float: left;
}
hr{
    opacity: 0.5;
}
img{
    width: 100%;
}


/* header styles */
header{
    display: flex;
    flex-direction: row;
}
.box{
    flex: 50%;
    margin-top: 50px;
    margin-bottom: 5px;
}
#logo{
    flex: 50%;
}
#logo img{
    width: 300px;
    height: 100px;
}
/* topmenu styles */
.menu{
    background-color: black;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 5px;
}

.menu li a{
    color: white;
    line-height: 3;
    padding-right: 3px;
}
/* main styles */
#main{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}
section{
    flex: 70%;
    
}
aside{
    flex: 30%;
    height: 500px;
    background-color: rgb(180, 177, 177);
    
}
aside p{
    margin: 0px;
}
/* main styles page tableau */
tbody img{
    width: 100px;
    height: 100px;
}

/* footer styles */
footer{
    margin: 5px 0px;
}

/* responsive styles */
@media screen and ( max-width: 768px){
    
 li {
     float: none;
     width: 100%;
     text-align: center;
}

ul{
    padding: 0px;
}

#main{
    flex-direction: column;
    text-align: center;
}
header{
    flex-direction: column;
    text-align: center;

}












}


   
